.head-container
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
}
.head-image
{
    width:350px;

}

.head-image-expanded
{
    min-width:300px;
    max-width:350px;
    transition: 1.5s;
}

.head-image-contracted
{
    max-width: 100px;
    min-width: 80px;
    transition: 1.5s;
}
.head-text
{
    font-family: cursive;
}